.container {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;

    .deleteArea {
        position: absolute;
        top: 0;
        right: -80px; /* Начальное положение за пределами блока */
        width: 80px;
        height: 100%;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: right 0.3s ease;
        z-index: 0;

        .deleteIcon {
            color: white;
            font-size: 24px;
            cursor: pointer;
        }
    }

    .deleteArea.visible {
        right: 0; /* Показываем красную область */
    }

    .measurement {
        position: relative;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        transition: transform 0.3s ease;
        z-index: 1;
    }

    .measurement.swiped {
        transform: translateX(-80px); /* Сдвигаем основной блок влево */
    }

    .content {
        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            .leftRow {
                display: flex;
                gap: 10px;

                .title {
                    font-weight: bold;
                }
                
                .value {
                    display: flex  ;
                    width: 70px;
                }
            }

            .rightRow {
                display: flex;
                gap: 10px;

                .icon {
                    height: 30px;
                    width: 30px;
                    cursor: pointer;
                }
            }
        }

        .actions {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }
    }
}