.container {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;

    .deleteArea {
        position: absolute;
        top: 0;
        right: 0px;
        width: 80px;
        height: 100%;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
        border: white 1px solid;
        border-radius: 0 8px 8px 0;

        .deleteIcon {
            color: white;
            font-size: 24px;
            cursor: pointer;
        }
    }

    .measurement {
        position: relative;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        z-index: 1;
        transition: transform 0.2s ease;
    }

    .content {
        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            margin-top: 10px;

            .leftRow {
                display: flex;
                gap: 10px;

                .title {
                    font-weight: bold;
                }
            }

            .rightRow {
                display: flex;
                gap: 10px;
            }
        }

    }
}
