.room {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 15px 10px;
    height: 100%;
    overflow: hidden;
}

.graphsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    scrollbar-width: none; // Для Firefox (скрывает полосу прокрутки)

    &::-webkit-scrollbar {
        display: none; // Для Chrome, Safari
    }
}

.graphWrapper {
    // border: 1px solid #ccc;
    border-radius: 8px;
    // padding: 10px;
    background-color: #fff;
}
