.editProfile {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;

    .header {
        display: flex;
        align-items: center;
        justify-content: center; /* Центрируем содержимое */
        position: relative;
        padding: 0 16px;
    
        .icon {
            position: absolute;
            left: 0; /* Фиксируем стрелку у левого края */
        }
    
        .title {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            flex-grow: 1; /* Позволяет заголовку центрироваться */
        }
    }
    
    
    .avatar{
        display: flex; /* Используем Flexbox для выравнивания содержимого */
        align-items: stretch; /* Растягиваем элементы по высоте контейнера */
        justify-content: center; /* Центрируем содержимое по горизонтали */
        height: 70px; /* Высота блока .avatar */
        .icon {
            flex-grow: 1; /* Заставляем иконку занимать всё доступное пространство */
            display: flex; /* Чтобы содержимое внутри было центрировано */
            align-items: center; /* Центрируем иконку по вертикали */
            justify-content: center; /* Центрируем иконку по горизонтали */
            svg {
                height: 40px; /* Фиксированная высота иконки */
                width: 40px; /* Фиксированная ширина иконки */
            }
        }
    }
    .buttonsWrapper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .cancel{

        }
        .save{

        }
        .edit{
            width: 100%;

        }
    }

    .container {
        flex: 1 auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }

    input[type="date"] {
        width: 100%;
        min-width: 100%; // Чтобы работало в Safari
        height: 35px;
    }

    .logout {
        justify-self: flex-end;
    }
}
