.container {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;

    .deleteArea {
        position: absolute;
        top: 0;
        right: 0px;
        width: 80px;
        height: 100%;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 0;
        border: white 1px solid;
        border-radius: 0 8px 8px 0;

        .deleteIcon {
            color: white;
            font-size: 24px;
            cursor: pointer;
        }
    }

    .bodyMeasurement{
        position: relative;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        transition: transform 0.2s ease;
        z-index: 1;
        }

    .content {
        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            margin-top: 10px;

            .leftRow {
                display: flex;
                gap: 10px;

                .title {
                    font-weight: bold;
                }

                .icon {
                    height: 30px;
                    width: 30px;
                    cursor: pointer;
                }
            }

            .rightRow {
                display: flex;
                gap: 10px;
            }
        }

        .toggleCollapse {
            display: flex;
            gap: 10px;
            cursor: pointer;
        }

        .measurements {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-height: 0; /* Начальное состояние: скрыто */
            overflow: hidden; /* Скрываем содержимое */
            transition: max-height 0.5s ease; /* Плавное изменение высоты */

            .measurement {
                display: flex;
                gap: 5px;

                .title {
                    width: 120px;
                }

                .value {
                    width: 70px;
                }
            }
        }

        .measurements.open {
            max-height: 500px; /* Максимальная высота (должна быть больше, чем высота содержимого) */
        }

    }
}
