.collapsibleSection {
    padding: 10px;
    margin-top: 25px;
    border-radius: 8px;

    :global {
        .ant-collapse-header {
            font-size: 15px;
            font-weight: 500;
        }
    }
    .content {
        margin-top: 8px;
    }
}
