.signInPage {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    padding: 30px;
    box-sizing: border-box;
    .header {
        display: flex;
        height: 40px;
        .iconWrapper {
            height: 20px;
            width: 20px;
            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }
    .title {
        font-size: 22px;
        font-weight: 500;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .input {
            border: none;
            background-color: rgb(240, 240, 240);
            height: 30px;
            margin-bottom: 10px;
            padding: 7px;
            border-radius: 7px;
        }
        .checkbox {
            margin-bottom: 50px;
        }
        .buttonSubmit{
            background-color: #fbe765;
        }
    }
    .buttonSignUp {
        margin-top: 20px;
        background-color: transparent;

    }
}
