.currentGoalsList {
    min-height: 120px;
    max-height: 280px;
    background-color: #ccc;
    border-radius: 5px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    scrollbar-width: none; // Для Firefox (скрывает полосу прокрутки)

    &::-webkit-scrollbar {
        display: none; // Для Chrome, Safari
    }
}
.title{
    font-size: 18px;
    font-weight: bold;
}