.profile {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;

    .avatar {
        display: flex; /* Используем Flexbox для выравнивания содержимого */
        align-items: stretch; /* Растягиваем элементы по высоте контейнера */
        justify-content: center; /* Центрируем содержимое по горизонтали */
        height: 70px; /* Высота блока .avatar */
        .icon {
            flex-grow: 1; /* Заставляем иконку занимать всё доступное пространство */
            display: flex; /* Чтобы содержимое внутри было центрировано */
            align-items: center; /* Центрируем иконку по вертикали */
            justify-content: center; /* Центрируем иконку по горизонтали */
            svg {
                height: 40px; /* Фиксированная высота иконки */
                width: 40px; /* Фиксированная ширина иконки */
            }
        }
    }

    .container {
        .userInfo {
            display: flex;
            justify-content: space-between;
            .item {
                display: flex;
                flex-direction: column;
                text-align: center;
                flex: 1;
            }
            .height {
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
            }
        }

        .goals {
            margin-top: 20px;
            .title {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 5px;
            }
            .goalsList {
                height: 114px;
                border: 1px solid #ccc;
                border-radius: 50px;
                overflow: hidden;
                padding: 0 3px;
            }
        }
    }
    .currentGoals {
        margin-top: 20px;
        .title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
    .logout {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}
