.addUser{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    padding: 30px;
    box-sizing: border-box;
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;
        height: 40px;
        .buttonBack {
            flex: 0 0 auto;
            margin-right: auto;
        }
        .stepCounter{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        flex: 0 0 auto;
        }

    }
    .subForm{
        display: flex;
        flex-direction: column;
        overflow: auto;
        .field{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        }
        .buttonCalculate{
            margin-top: 30px;
            margin-bottom: 20px;
            height: 40px;
        }
        .buttonCloseCalculate{
            margin-bottom: 40px;
        }
    }

    .buttons{
        margin-top: 20px;
        display: flex;
        gap: 10px;
        justify-content: flex-end;
    }
}