.filter {
    border-radius: 8px;
    margin-bottom: 16px;
    margin-top: 25px;

    .filterHeader {
        display: flex;
        align-items: center;
        cursor: pointer;

        .filterIcon {
            margin-right: 8px;
        }
    }

    .filterContent {

        .filterOptions {
            display: flex;
            flex-direction: column;
            align-items: flex-start; // Прижимаем опции к левому краю
            gap: 8px;
        }

        .filterButtons {
            display: flex;
            justify-content: space-between;
            margin-top: 16px;

            .applyButton {
                background-color: #4caf50; // Зеленый цвет для кнопки "Применить"
                color: white;
            }

            .resetButton {
                background-color: #f44336; // Красный цвет для кнопки "Сбросить"
                color: white;
            }
        }
    }
}
