.filter {
    display: flex;
    flex-direction: column;
}

.widgetsLfilterListist{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.filterItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    // border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    .content{
        display: flex;
        flex-grow: 1;
    }
}

.dragHandle {
    cursor: grab;
    user-select: none;
    margin-left: auto;
}

.filterButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    
}