html {
    box-sizing: border-box;
    overflow: hidden; /* Позволяет контенту прокручиваться */
    touch-action:none ; /* Разрешает базовые жесты, необходимые для dnd */
    overscroll-behavior: contain; /* Ограничивает overscroll, но не полностью отключает */
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    user-select: none; /* Разрешает выбор текста */
    -webkit-tap-highlight-color: transparent;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    text-decoration: none;
    color: #1a1a1a;
}


body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Используйте min-height для адаптивности */
    min-width: 100vw;
    overflow: hidden; /* Разрешает прокрутку */
    touch-action: none; /* Поддержка базовых жестов */
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}
.ant-btn {
    box-shadow: none !important;
}

.ant-input,
.ant-select-selector {
    font-size: 16px !important;
} 
/* Цвет фона и текста выбранной опции */
.ant-select-item-option-selected {
    background-color: var(--selected-bg, #1890ff) !important;
    color: var(--selected-text, #fff) !important;
}