.goals{
    display: flex;
    height: 113px;
    align-items: center;
    scrollbar-width: none; // Для Firefox (скрывает полосу прокрутки)
    border-radius: 50px;
    padding: 13px;
    margin: 0 10px;
    overflow-y: hidden;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        display: none; // Для Chrome, Safari
    }
    .addGoal {
        height: 90px;
        width: 90px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(233, 233, 232);
    
        .circle {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
    
            .statusLine {
                height: 90px; // Немного меньше, чтобы бордер был виден
                width: 90px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 6px solid #818181; // Зеленый бордер для активного статуса
    
    
                .content {
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
    
                }
            }
        }
    }
}